.info {
  display: flex;
  height: 5rem;
  background-color: white;
  align-items: center;
  margin: .5rem 0;
  border-radius: .3rem;
}

p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.buttons {
  display: flex;
  margin-left: auto;
}

.buttons button {
  margin-right: .3rem;
  height: 2.5rem;
  width: 4rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.edit {
  background-color: #d66233;
}

.select {
  background-color: #2cb84f;
}
