.title {
  text-align: center;
  color: white;
  font-size: 10rem;
  margin-top: 0rem;
  padding-top: 30vh;
  margin-bottom: 0rem;
}

.explanation {
  margin-top: 2rem;
  font-size: 3rem;
  color: white
}

@media (max-width: 480px) {
  .explanation {
    font-size: 2rem;
  }
}
