.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.4rem;
}

.form input {
  margin-bottom: 1.5rem;
  width: 90%;
  font-size: 1.2rem;
}

.form label {
  align-self: flex-start;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.form button {
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 20%;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  background-color: rgb(66, 66, 228);
  color: white;
}

.title {
  margin-top: 0;
  color: white;
  text-align: center;
  font-size: 3rem;
}
