.nav-container {
  position: fixed;
  display: flex;
  z-index: 5;
}

.nav-container button {
  color: white;
  z-index: 3;
  position: fixed;
  cursor: pointer;
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  transition: all 0.2s;
}

.nav-container button[isvisible="true"] {
  rotate: -90deg;
}
