.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(128, 128, 128, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.playlist-form {
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30rem;
    height: 5rem;
}

.playlist-form input {
    font-size: 1.3rem;
    border: none;
    border: 1px solid black;
    width: 80%;
    border-radius: .5rem;
    height: 1.5rem;
}

.playlist-form input:focus {
    outline: none;
}

.create {
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: 1.2rem;
    margin-left: .3rem;
    background-color: rgb(44, 100, 165);
    color: white;
}

.exit {
    cursor: pointer;
    background-color: white;
    border: none;
    top: -1.85rem;
    right: -29.8rem;
    position: relative;
}